/EkementaryTasks/AdditionalClasses/obj/Debug
/EkementaryTasks/AdditionalClasses/bin/Debug
/EkementaryTasks/ChessBoard/obj/Debug
/EkementaryTasks/FibonacciSequence.Tests/bin/Debug
/EkementaryTasks/Interfaces/bin/Debug
/EkementaryTasks/FibonacciSequence.Tests/obj/Debug
/EkementaryTasks/.vs/ElementaryTasks/v15/Server/sqlite3
/EkementaryTasks/packages
/EkementaryTasks/FileParser/obj/Debug
/EkementaryTasks/FibonacciSequence/obj/Debug
/EkementaryTasks/Interfaces/obj/Debug
